<div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Rol Güncelleme</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="row">
            <div class="col-sm-12">
              <div class="card-box">
                <form [formGroup]="updateForm">
                    <div class="mb-3">
                        <label for="name" class="form-label">Rol Adı </label>
                        <input type="text" formControlName="name" class="form-control" id="name" name="name">
                    </div>
                    <button type="submit" (click)="updateRole()" class="btn btn-primary">Güncelle</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>