<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Roller</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="row">
          <div class="col-sm-12">
            <div class="card-box">
              <button routerLink="/roles/add" class="btn btn-info">
                Rol Ekle
              </button>
            </div>
            <table
              datatable
              [dtOptions]="dtOptions"
              class="table table-hover table-responsive"
              style="width: 100%"
            >
              <thead>
                <tr>
                  <th>#</th>
                  <th>Rol Adı</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let role of roles; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ role.name }}</td>
                  <td>
                    <button
                      class="btn btn-primary"
                      routerLink="/roles/get/{{ role.id }}"

                    >
                      Güncelle
                    </button>
                    <button
                      class="btn btn-danger"
                      (click)="removeRole(role.id)"
                    >
                      Sil
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
