<div *ngIf="user; else no_user">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Üye Detay</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="row">
            <div class="col-sm-12">
              <div class="card-box">
                <p>Ad: {{ user.name }}</p>
                <p>Soyad: {{ user.surName }}</p>
                <p>E-Mail: {{ user.email }}</p>
                <button class="btn btn-danger" (click)="removeUser(user.id)">
                  Sil
                </button>
                <button class="btn btn-primary" routerLink="/users/update/{{user.id}}">Güncelle</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #no_user> üye bulunamadı </ng-template>
