<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Ödeme Türü Güncelleme</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="row">
          <div class="col-sm-12">
            <div class="card-box">
              <!-- <div class="item form-group">
                <label
                  class="col-form-label col-md-3 col-sm-3 label-align"
                  for="cityId"
                  >Şehir <small>/ City</small>
                </label>
                <div class="col-md-6 col-sm-6">
                  <select
                    class="form-control"
                    name="cityId"
                    id="cityId"
                    [(ngModel)]="selCityId"
                    (change)="fillFacility()"
                    [class.is-invalid]="
                      updateForm.get('cityId')?.touched &&
                      updateForm.get('cityId')?.invalid
                    "
                  >
                    <option
                      *ngFor="let city of allCity"
                      [value]="city.plateCode"
                    >
                      {{ city.name }}
                    </option>
                  </select>
                  <div class="invalide-feedback"></div>
                </div>
              </div> -->
              <form [formGroup]="updateForm">
                <!-- <div class="item form-group">
                  <label
                    class="col-form-label col-md-3 col-sm-3 label-align"
                    for="facilityId"
                    >Tesis <small>/ Facility</small>
                  </label>
                  <div class="col-md-6 col-sm-6">
                    <select
                      class="form-control"
                      formControlName="facilityId"
                      id="facilityId"
                      [class.is-invalid]="
                        updateForm.get('facilityId')?.touched &&
                        updateForm.get('facilityId')?.invalid
                      "
                    >
                      <option
                        *ngFor="let facility of allFacility"
                        [ngValue]="facility"
                      >
                        {{ facility.name }}
                      </option>
                    </select>
                    <div class="invalide-feedback"></div>
                  </div>
                </div> -->
                <div class="item form-group">
                  <label
                    class="col-form-label col-md-3 col-sm-3 label-align"
                    for="duration"
                    >Süre(Ay) 
                  </label>
                  <div class="col-md-6 col-sm-6">
                    <select
                      class="form-control"
                      formControlName="duration"
                      id="duration"
                      type="number"
                      [attr.disabled]="disabled ? '' : null"
                      [class.is-invalid]="
                        updateForm.get('duration')?.touched &&
                        updateForm.get('duration')?.invalid
                      "
                    >
                      <option
                        *ngFor="let duration of durations"
                        [ngValue]="duration.id"
                      >
                        {{ duration.duration }}
                      </option>
                    </select>
                    <div class="invalide-feedback"></div>
                  </div>
                </div>
                <div class="item form-group">
                  <label
                    class="col-form-label col-md-3 col-sm-3 label-align"
                    for="price"
                    >Fiyat(₺) <small>/ Price</small>
                  </label>
                  <div class="col-md-6 col-sm-6">
                    <input
                      type="number"
                      id="price"
                      class="form-control"
                      formControlName="price"
                      [class.is-invalid]="
                        updateForm.get('price')?.touched &&
                        updateForm.get('price')?.invalid
                      "
                    />
                    <div class="invalide-feedback"></div>
                  </div>
                </div>
                <div class="item form-group">
                  <div class="col-md-3 col-sm-3"></div>
                  <button
                    type="submit"
                    (click)="updatePaymentDuration()"
                    class="btn btn-primary"
                  >
                    Güncelle
                  </button>
                  <div class="col-md-6 col-sm-6"></div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
