<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Ödeme Türü Güncelleme</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="row">
          <div class="col-sm-12">
            <div class="card-box">
              <form >
                <!-- <div class="item form-group">
                  <label
                    class="col-form-label col-md-3 col-sm-3 label-align"
                    for="cityId"
                    >Şehir
                  </label>
                  <div class="col-md-6 col-sm-6">
                    <select
                      class="form-control"
                      formControlName="cityId"
                      id="cityId"
                      [(ngModel)]="selCityId"
                      (change)="fillFacility()"
                    >
                      <option
                        *ngFor="let city of allCity"
                        [value]="city.plateCode"
                      >
                        {{ city.name }}
                      </option>
                    </select>
                    <div class="invalide-feedback"></div>
                  </div>
                </div>
                <div class="item form-group">
                  <label
                    class="col-form-label col-md-3 col-sm-3 label-align"
                    for="facilityId"
                    >Tesis
                  </label>
                  <div class="col-md-6 col-sm-6">
                    <select
                      class="form-control"
                      formControlName="facilityId"
                      id="facilityId"
                    >
                      <option
                        *ngFor="let facility of allFacility"
                        [ngValue]="facility"
                      >
                        {{ facility.name }}
                      </option>
                    </select>
                    <div class="invalide-feedback"></div>
                  </div>
                </div> -->
                <div class="item form-group">
                  <label
                    class="col-form-label col-md-3 col-sm-3 label-align"
                    for="duration"
                    >Süre(Ay)
                  </label>
                  <div class="col-md-6 col-sm-6">
                    <input
                      type="number"
                      id="price"
                      class="form-control"
                      formControlName="duration"
                    />
                    <div *ngIf="f['duration'].errors?.required">
                      Bu kısım boş bırakılamaz
                    </div>
                    <div class="invalide-feedback"></div>
                  </div>
                </div>
                <div class="item form-group">
                  <label
                    class="col-form-label col-md-3 col-sm-3 label-align"
                    for="price"
                    >Fiyat(₺)
                  </label>
                  <div class="col-md-6 col-sm-6">
                    <input
                      type="number"
                      id="price"
                      class="form-control"
                      formControlName="price"
                    />
                    <div *ngIf="f['price'].errors?.required">
                      Bu kısım boş bırakılamaz
                    </div>
                    <div class="invalide-feedback"></div>
                  </div>
                </div>
                <div class="item form-group">
                  <div class="col-md-3 col-sm-3"></div>
                  <button
                    type="submit"
                    (click)="updatePaymentDuration()"
                    class="btn btn-primary"
                  >
                    Güncelle
                  </button>
                  <div class="col-md-6 col-sm-6"></div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
