<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Öğrenciler</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="row">
          <div class="col-sm-12">
            <div class="card-box">
              <button routerLink="/users/add-user" class="btn btn-info">
                Öğrenci Ekle
              </button>
              <button (click)="toggleShowTable()" class="btn btn-primary">
                Tüm Öğrencileri Listele
              </button>
              <div class="item form-group mt-3">
                <label
                  class="col-form-label col-md-3 col-sm-3 label-align"
                  for="city"
                  >Şehir
                </label>
                <div class="col-md-6 col-sm-6">
                  <select
                    class="form-control"
                    id="city"
                    [(ngModel)]="selCityId"
                    (change)="fillFacility(); getUsersByRole(selRoleName)"
                  >
                    <option
                      *ngFor="let city of allCities"
                      [ngValue]="city.plateCode"
                    >
                      {{ city.name }}
                    </option>
                  </select>
                  <div class="invalide-feedback"></div>
                </div>
              </div>

              <div *ngIf="selCityId" class="item form-group">
                <label
                  class="col-form-label col-md-3 col-sm-3 label-align"
                  for="facility"
                  >Tesis
                </label>
                <div class="col-md-6 col-sm-6">
                  <select
                    class="form-control"
                    id="facility"
                    [(ngModel)]="selFacilityId"
                    (change)="fillGroup(); getUsersByRole(selRoleName)"
                  >
                    <option
                      *ngFor="let facility of allFacilities"
                      [ngValue]="facility.id"
                    >
                      {{ facility.name }}
                    </option>
                  </select>
                  <div class="invalide-feedback"></div>
                </div>
              </div>
              <div *ngIf="selFacilityId" class="item form-group">
                <label
                  class="col-form-label col-md-3 col-sm-3 label-align"
                  for="group"
                  >Grup
                </label>
                <div class="col-md-6 col-sm-6">
                  <select
                    class="form-control"
                    id="group"
                    [(ngModel)]="selGroupId"
                    (change)="getUsersByRole(selRoleName)"
                  >
                    <option
                      *ngFor="let group of allGroups"
                      [ngValue]="group.id"
                    >
                      {{ group.name }}
                    </option>
                  </select>
                  <div class="invalide-feedback"></div>
                </div>
              </div>
            </div>
            <table
              datatable
              [dtOptions]="dtOptions"
              class="table table-hover table-responsive"
              *ngIf="selCityId || selFacilityId || selGroupId || showTable"
            >
              <thead>
                <tr>
                  <th>#</th>
                  <th>Ad</th>
                  <th>Soyad</th>
                  <th>Email</th>
                  <th>Telefon</th>
                  <th>TC Kimlik</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let user of users; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ user.name }}</td>
                  <td>{{ user.surName }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.phoneNumber }}</td>
                  <td>{{ user.idNumber }}</td>
                  <td>
                    <button
                      class="btn btn-light"
                      routerLink="/contracts/user-contracts/{{ user.id }}"
                    >
                      Paketler
                    </button>
                    <button
                      class="btn btn-success"
                      routerLink="/contracts/add/{{ user.id }}"
                    >
                      Paket Ekle
                    </button>
                    <button
                      class="btn btn-primary"
                      routerLink="/users/get/{{ user.id }}"
                    >
                      Güncelle
                    </button>

                    <button
                      class="btn btn-danger"
                      (click)="removeUser(user.id)"
                    >
                      Sil
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
