<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Grup Ekleme Formu</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <br />
        <div class="item form-group">
          <label
            class="col-form-label col-md-3 col-sm-3 label-align"
            for="city"
            >Şehir 
          </label>
          <div class="col-md-6 col-sm-6">
            <select
              class="form-control"
              id="cityId"
              [(ngModel)]="selCityId"
              (change)="fillFacility()"
            >
              <option
                *ngFor="let city of allCity "
                [ngValue]="city.plateCode"
              >
                {{ city.name }}
              </option>
            </select>
            <div class="invalide-feedback"></div>
          </div>
        </div>
        <form
          id="form"
          data-parsley-validate
          class="form-horizontal form-label-left"
          [formGroup]="addForm"
          #form="ngForm"
          (ngSubmit)="addGroup()"
        >
        <div class="item form-group">
          <label
            class="col-form-label col-md-3 col-sm-3 label-align"
            for="facility"
            >Tesis
          </label>
          <div class="col-md-6 col-sm-6">
            <select
              class="form-control"
              id="facilityId"
              formControlName="facilityId"
              [(ngModel)]="selFacilityId"
              (change)="fillGroup()"
            >
              <option
                *ngFor="let facility of allFacility
                "
                [ngValue]="facility.id"
              >
                {{ facility.name }}
              </option>
            </select>
            <div
                *ngIf="f['facilityId'].invalid && (f['facilityId'].dirty || f['facilityId'].touched)"
                class="text-danger"
              >
                <div *ngIf="f['facilityId'].errors?.required">
                  Bu kısım boş bırakılamaz
                </div>
              </div>
            
            <div class="invalide-feedback"></div>
          </div>
        </div>
          <div class="item form-group">
            <label
              class="col-form-label col-md-3 col-sm-3 label-align"
              for="name"
              >Grup
            </label>
            <div class="col-md-6 col-sm-6">
              <input
                type="text"
                id="name"
                class="form-control"
                formControlName="name"
              />
              <div
                *ngIf="f['name'].invalid && (f['name'].dirty || f['name'].touched)"
                class="text-danger"
              >
                <div *ngIf="f['name'].errors?.required">
                  Bu kısım boş bırakılamaz
                </div>
              </div>
              <div class="invalide-feedback"></div>
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="item form-group">
            <div class="col-md-6 col-sm-6 offset-md-3">
              <button class="btn btn-primary" type="reset">Temizle</button>
              <button
                type="submit"
                [disabled]="!form.valid"
                class="btn btn-success"
              >
                Ekle
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
