<div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Üye Güncelleme</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="row">
            <div class="col-sm-12">
              <div class="card-box">
                <form (ngSubmit)="updateContract()">
                    <div class="mb-3">
                        <label for="name" class="form-label">Ad</label>
                        <input type="text" class="form-control" id="name" name="name" >
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">Soyad</label>
                        <input type="text" class="form-control" id="surname" name="surname">
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">E-Mail</label>
                        <input type="text" class="form-control" id="email" name="email">
                    </div>
                    <button type="submit" class="btn btn-primary">Güncelle</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>