<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Üyelik Kontratı Güncelleme Formu</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <br />
        <div class="item form-group">
          <div class="col-md-3 col-sm-3 label-align"></div>
          <h2 class="col-md-6 col-sm-6">Öğrenci Bilgileri</h2>
        </div>
        <div class="item form-group">
          <label class="col-form-label col-md-3 col-sm-3 label-align">
            Tc No:
          </label>
          <div class="col-md-6 col-sm-6">
            <input
              type="text"
              class="form-control"
              readonly
              [(ngModel)]="contract && contract.student.idNumber"
            />
          </div>
        </div>
        <div class="item form-group">
          <label class="col-form-label col-md-3 col-sm-3 label-align">
            Ad:
          </label>
          <div class="col-md-6 col-sm-6">
            <input
              type="text"
              class="form-control"
              readonly
              [(ngModel)]="contract && contract.student.name"
            />
          </div>
        </div>
        <div class="item form-group">
          <label class="col-form-label col-md-3 col-sm-3 label-align">
            Soyad:
          </label>
          <div class="col-md-6 col-sm-6">
            <input
              type="text"
              class="form-control"
              readonly
              [(ngModel)]="contract && contract.student.surName"
            />
          </div>
        </div>
        <div class="item form-group">
          <label class="col-form-label col-md-3 col-sm-3 label-align">
            Telefon:
          </label>
          <div class="col-md-6 col-sm-6">
            <input
              type="text"
              class="form-control"
              readonly
              [(ngModel)]="contract && contract.student.phoneNumber"
            />
          </div>
        </div>
        <div class="item form-group">
          <label class="col-form-label col-md-3 col-sm-3 label-align">
            E-Mail:
          </label>
          <div class="col-md-6 col-sm-6">
            <input
              type="text"
              class="form-control"
              readonly
              [(ngModel)]="contract && contract.student.email"
            />
          </div>
        </div>
        <form
          id="form"
          data-parsley-validate
          class="form-horizontal form-label-left"
          enctype="multipart/form-data"
          [formGroup]="updateForm"
          #form="ngForm"
          (ngSubmit)="updateContract()"
        >
          <div class="item form-group">
            <div class="col-md-3 col-sm-3 label-align"></div>
            <h2 class="col-md-6 col-sm-6">Kayıt Olacağı Yer</h2>
          </div>

          <div class="item form-group">
            <label
              class="col-form-label col-md-3 col-sm-3 label-align"
              for="cityId"
              >Şehir
            </label>
            <div class="col-md-6 col-sm-6">
              <select
                class="form-control"
                id="cityId"
                formControlName="cityId"
                [(ngModel)]="selCityId"
                (change)="fillFacilitySelected()"
              >
                <option *ngFor="let city of cities" [ngValue]="city.plateCode">
                  {{ city.name }}
                </option>
              </select>
              <div
                *ngIf="
                  f['cityId'].invalid &&
                  (f['cityId'].dirty || f['cityId'].touched)
                "
                class="text-danger"
              >
                <div *ngIf="f['cityId'].errors.required">
                  Bu alan boş bırakılamaz
                </div>
              </div>
              <div class="invalide-feedback"></div>
            </div>
          </div>
          <div class="item form-group">
            <label
              class="col-form-label col-md-3 col-sm-3 label-align"
              for="facility"
              >Tesis
            </label>
            <div class="col-md-6 col-sm-6">
              <select
                class="form-control"
                id="facilityId"
                formControlName="facilityId"
                [(ngModel)]="selFacilityId"
                (change)="fillPaymentDurationSelected()"
              >
                <option
                  *ngFor="let facility of facilities"
                  [ngValue]="facility.id"
                >
                  {{ facility.name }}
                </option>
              </select>
              <div
                *ngIf="
                  f['facilityId'].invalid &&
                  (f['facilityId'].dirty || f['facilityId'].touched)
                "
                class="text-danger"
              >
                <div *ngIf="f['facilityId'].errors.required">
                  Bu alan boş bırakılamaz
                </div>
              </div>
              <div class="invalide-feedback"></div>
            </div>
          </div>

          <!-- <div *ngIf="selFacilityId; else hiddenGroup" class="item form-group">
            <label
              class="col-form-label col-md-3 col-sm-3 label-align"
              for="groupId"
              >Grup
            </label>
            <div class="col-md-6 col-sm-6">
              <select
                class="form-control"
                id="groupId"
                formControlName="groupId"
              >
                <option *ngFor="let group of groups" [ngValue]="group.id">
                  {{ group.name }}
                </option>
              </select>
              <div
                *ngIf="
                  f['groupId'].invalid &&
                  (f['groupId'].dirty || f['groupId'].touched)
                "
                class="text-danger"
              >
                <div *ngIf="f['groupId'].errors.required">
                  Bu alan boş bırakılamaz
                </div>
              </div>
              <div class="invalide-feedback"></div>
            </div>
          </div> -->
          <div class="item form-group">
            <label class="col-form-label col-md-3 col-sm-3 label-align"
              >Ödeme Süresi(Ay)
            </label>
            <div class="col-md-6 col-sm-6">
              <select
                class="form-control"
                id="groupId"
                formControlName="paymentDurationId"
                (change)="calculatePrice()"
              >
                <!-- <option
                  *ngFor="let paymentDuration of paymentDurations"
                  [ngValue]="paymentDuration.id"
                >
                  {{ paymentDuration.duration }}
                </option> -->
              </select>
              <div
                *ngIf="
                  f['paymentDurationId'].invalid &&
                  (f['paymentDurationId'].dirty ||
                    f['paymentDurationId'].touched)
                "
                class="text-danger"
              >
                <div *ngIf="f['paymentDurationId'].errors.required">
                  Bu alan boş bırakılamaz
                </div>
              </div>
              <div class="invalide-feedback"></div>
            </div>
          </div>
          <div *ngIf="selFacilityId" class="item form-group">
            <label class="col-form-label col-md-3 col-sm-3 label-align"
              >Başlama Tarihi
            </label>
            <div class="col-md-6 col-sm-6">
              <input
                id="start"
                class="date-picker form-control"
                formControlName="start"
                type="date"
              />
              <div
                *ngIf="
                  f['start'].invalid && (f['start'].dirty || f['start'].touched)
                "
                class="text-danger"
              >
                <div *ngIf="f['start'].errors.required">
                  Bu alan boş bırakılamaz
                </div>
              </div>
              <div class="invalide-feedback"></div>
            </div>
          </div>
          <div *ngIf="selFacilityId" class="item form-group">
            <label
              class="col-form-label col-md-3 col-sm-3 label-align"
              for="duration"
              >Kontrat Süresi(Ay)
            </label>
            <div class="col-md-6 col-sm-6">
              <input
                class="form-control"
                formControlName="duration"
                type="number"
                id="duration"
                (change)="calculatePrice()"
              />
              <div
                *ngIf="
                  f['duration'].invalid &&
                  (f['duration'].dirty || f['duration'].touched)
                "
                class="text-danger"
              >
                <div *ngIf="f['duration'].errors?.required">
                  Bu kısım boş bırakılamaz
                </div>
              </div>
              <div class="invalide-feedback"></div>
            </div>
          </div>
          <div *ngIf="selFacilityId" class="item form-group">
            <label
              class="col-form-label col-md-3 col-sm-3 label-align"
              for="price"
              >Fiyat(₺)
            </label>
            <div class="col-md-6 col-sm-6">
              <input
                class="form-control"
                formControlName="price"
                type="number"
                id="price"
                readonly
              />
              <div class="invalide-feedback"></div>
            </div>
          </div>
          <div *ngIf="selFacilityId" class="item form-group">
            <label
              class="col-form-label col-md-3 col-sm-3 label-align"
              for="price"
            >
            </label>
            <div class="col-md-6 col-sm-6">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  formControlName="approved"
                  [(ngModel)]="approved"
                  (change)="checkValue(approved ? true : false)"
                  id="flexCheckDefault"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  Kontratı Onayla
                </label>
              </div>
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="item form-group">
            <div class="col-md-6 col-sm-6 offset-md-3">
              <button type="submit" class="btn btn-success">Güncelle</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
