<div class="col-md-3 left_col">
  <div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0">
      <a routerLink="/" class="site_title"><span>TECHNOLIFE</span></a>
    </div>

    <div class="clearfix"></div>

    <br />
    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <ul class="nav side-menu">
          <li>
            <a
              routerLink="/"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              ><i class="fa fa-home"></i> Ana Sayfa</a
            >
          </li>
          <li>
            <a routerLink="users/students" routerLinkActive="active"
              ><i class="fa fa-users"></i>Üyeler</a
            >
          </li>
          <li>
            <a routerLink="contracts" routerLinkActive="active"
              ><i class="fa fa-files-o"></i>Kontratlar
            </a>
          </li>
          <li>
            <a routerLink="facilities" routerLinkActive="active"
              ><i class="fa fa-building-o"></i> Tesisler
            </a>
          </li>
          <li>
            <a routerLink="groups" routerLinkActive="active"><i class="fa fa-table"></i> Gruplar </a>
          </li>
          <li>
            <a routerLink="paymentdurations" routerLinkActive="active">
              <i class="fa fa-bar-chart-o"></i> Ödeme Tanımları
            </a>
          </li>
          <li>
            <a routerLink="products" routerLinkActive="active">
              <i class="fa fa-bar-chart-o"></i> Kontrat Tanımları
            </a>
          </li>
          <li>
            <a routerLink="payments" routerLinkActive="active">
              <i class="fa fa-credit-card"></i> Ödemeler</a
            >
          </li>
          <li>
            <a routerLink="users/authorities" routerLinkActive="active"
              ><i class="fa fa-user"></i> Kullanıcılar</a
            >
          </li>
          <li>
            <a routerLink="roles" routerLinkActive="active"
              ><i class="fa fa-edit"></i> Roller
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- /sidebar menu -->
  </div>
</div>
