
table td:last-child, 
table td:first-child,
table th:last-child,
table th:first-child {
    white-space: nowrap;
    width: 1%;
}

.addNewRecord {
    background-color: #033C73 ;
    color: #ffffff ;
    padding: 2rem !important;
}
.dt-button{
    padding: 2rem !important;

}