<div *ngIf="contract; else no_role">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>{{ contract.student.idNumber }} Tc Nolu Kişinin Kontrat Detayı</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="row">
            <div class="col-sm-12">
              <div class="card-box">
                <!-- <img [src]="imageUrl" alt="aaa" /> -->
                <p>
                  Ad:
                  <b
                    >{{
                      contract.student.name + " " + contract.student.surName
                        | uppercase
                    }}
                  </b>
                </p>
                <p>
                  Başlangıç: <b>{{ contract.start | date: "longDate" }}</b>
                </p>
                <p>
                  Bitiş: <b>{{ contract.end | date: "longDate" }}</b>
                </p>
                <p>
                  Toplam Fiyat: <b>{{ contract.price | currency: "₺" }}</b>
                </p>
                <!-- <p>
                  Taksit: <b>{{ contract }}</b>
                </p> -->
                <p>
                  E-Mail: <b>{{ contract.student.email }}</b>
                </p>
                <p>
                  Telefon: <b>{{ contract.student.phoneNumber }}</b>
                </p>

                <div>
                  <table
                    datatable
                    [dtOptions]="dtOptions"
                    class="table table-hover table-responsive"
                    style="width: 100%"
                  >
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Ödeme Tarihi</th>
                        <th>Bitiş Tarihi</th>
                        <th>Fiyat</th>
                        <th>Ödeme Tipi</th>
                        <th>Not</th>
                        <th></th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr *ngFor="let payment of contract.payments; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ payment.paymentDate | date }}</td>
                        <td>{{ payment.dueDate | date }}</td>
                        <td>{{ payment.amount | currency: "₺" }}</td>
                        <td>{{ payment.type }}</td>
                        <td>{{ payment.note }}</td>
                        <td>
                          <button
                            class="btn btn-primary"
                            routerLink="/payments/update/{{ payment.id }}"
                          >
                            Ödeme Yap
                          </button>
                          <!-- <button
                      class="btn btn-light"
                      routerLink="/payments/get/{{ payment.id }}"
                    >
                      Detay
                    </button> -->
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <button
                  class="btn btn-primary"
                  routerLink="/contracts/update/{{ contract.id }}"
                >
                  Güncelle
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #no_role> Rol bulunamadı </ng-template>
