<div *ngIf="contract; else no_role">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>{{ contract.student.name }} Kontrat Detayı</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="row">
            <div class="col-sm-12">
              <div class="card-box">
                <img [src]="imageUrl" alt="aaa" />
                <p>
                  Ad:
                  {{ contract.student.name + " " + contract.student.surName }}
                </p>
                <p>Başlangıç: {{ contract.start | date: "longDate" }}</p>
                <p>Bitiş: {{ contract.end | date: "longDate" }}</p>
                <p>Toplam Fiyat: {{ contract.price }}</p>
                <p>Taksit: {{ contract.duration }}</p>
                <p>E-Mail: {{ contract.student.email }}</p>
                <p>Telefon: {{ contract.student.phoneNumber }}</p>

                <!-- <p>Durum: {{ role.concurrencyStamp }}</p> -->
                <button
                  class="btn btn-primary"
                  routerLink="/contracts/update/{{ contract.id }}"
                >
                  Güncelle
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #no_role> Rol bulunamadı </ng-template>
