<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Grup Güncelleme</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="row">
          <div class="col-sm-12">
            <div class="card-box">
              <form [formGroup]="updateForm">
                <div class="mb-3">
                  <label class="form-label">Şehir </label>
                  <select
                    class="form-control"
                    id="cityId"
                    [(ngModel)]="selectedCity"
                    [ngModelOptions]="{standalone: true}"
                    (change)="fillFacility()"
                  >
                    <option *ngFor="let city of allCities" [value]="city.plateCode">
                      {{ city.name }}
                    </option>
                  </select>
                  <!-- <div class="text-danger">
                    <div>Bu kısım boş bırakılamaz</div>
                  </div> -->
                  <div class="invalide-feedback"></div>
                </div>
                <div class="mb-3">
                  <label for="name" class="form-label">Tesis Adı </label>
                  <select
                    class="form-control"
                    formControlName="facilityId"
                    id="facilityId"
                    ngPreserveWhitespaces
                  >
                    <option
                      *ngFor="let facility of allFacilities"
                      [ngValue]="facility.id"
                    >
                      {{ facility.name }}
                    </option>
                  </select>
                  <div *ngIf="" class="text-danger">
                    <div *ngIf="checkFormByPropertyName('facilityId')">
                      Bu kısım boş bırakılamaz
                    </div>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="name" class="form-label">Grup Adı </label>
                  <input
                    type="text"
                    formControlName="name"
                    class="form-control"
                    id="name"
                    name="name"
                  />
                  <div *ngIf="checkFormByPropertyName('name')">
                    Bu kısım boş bırakılamaz
                  </div>
                </div>
                <button
                  type="submit"
                  (click)="updateGroup()"
                  class="btn btn-primary"
                >
                  Güncelle
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
