<div *ngIf="payments; else no_payments">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Ödeme Detayı</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="row">
            <div class="col-sm-12">
              <div class="card-box">
                <p>Ödendiği Tarih: <b>{{ payments.dueDate | date: "longDate" }}</b></p>
                <p>Ödenen Fiyat: <b>{{ payments.amount }}</b></p>
                <p>Ödeme Tipi: <b>{{ payments.type }}</b></p>
                <p>Not: <b>{{ payments.note }}</b></p>
                <button
                  class="btn btn-primary"
                  routerLink="/payments/update/{{ payments.id }}"
                >
                  Güncelle
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #no_payments> Ödeme bulunamadı </ng-template>
